:root {
  --color-text-darkgrey: #1d1e35;
  --color-text-grey: #4a4b5e;
  --color-text-lightgrey: #787887;
  --color-divider: #e7e7e9;
  --color-accent: #f47c57;
  --color-gradient-violet: #af67e9;
  --color-gradient-blue: #6565e7;

  --fs-xl: 3.2rem;
  --fs-500: 1.4rem;
  --fs-400: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  min-height: 100vh;
  background: linear-gradient(
    var(--color-gradient-violet),
    var(--color-gradient-blue)
  );
  position: relative;
  display: flex;
  align-items: center;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--color-text-darkgrey);
  margin: 0;
}

h2 {
  font-size: var(--fs-500);
  font-weight: 400;
  color: var(--color-text-grey);
}

p {
  color: var(--color-text-lightgrey);
  line-height: 1.5;
}

/* Main Card */
.card {
  background: white;
  width: 90%;
  max-width: 480px;
  margin: 15rem auto;
  padding: 0 2.3rem 4rem;
  border-radius: 15px;
  /* text-align: center; */
  position: relative;
}

.card::after {
  content: "";
  height: 50%;
  background-color: pink;
  z-index: -1;
  position: absolute;
  left: 10px;
  right: 10px;
  border-radius: 15px;
  bottom: 0;
  box-shadow: 0 15px 30px 4px #4b4bc7;
}

.card__title {
  margin: 2rem 0;
  text-align: center;
}

/* Card Images Group */
.card__images {
  text-align: center;
}
.img-actual--mobile {
  width: 240px;
  position: absolute;
  top: -110px;
}

.img-actual--desktop,
.img-shadow--desktop,
.img-box--desktop {
  max-height: 0;
}

/* Collapsible */
.collapsible {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-divider);
}

.collapsible .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__title {
  cursor: pointer;
  transition: color 0.1s ease-out;
}

.collapsible__title:hover {
  color: var(--color-accent);
}

.collapsible__content {
  text-align: left;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease-out;
}

.collapsible__icon {
  transform: rotate(0);
  cursor: pointer;
}

.collapsible--expanded .collapsible__title {
  font-weight: 700;
}

.collapsible--expanded .collapsible__content {
  padding: 1.2rem 0 0.8rem;
  opacity: 1;
  max-height: 100vh;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(180deg);
}

/* Attribution */
.attribution {
  color: white;
  font-size: 11px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4px;
}
.attribution a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.1s ease-out;
}

.attribution a:hover,
.attribution a:focus {
  color: rgb(218, 218, 218);
}

@media screen and (min-width: 900px) {
  .card {
    margin: 0 auto;
    max-width: 920px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .stacked {
    display: grid;
  }

  .stacked > * {
    grid-column: 1 /2;
    grid-row: 1/2;
  }

  .card__images {
    position: relative;
    overflow: hidden;
  }

  /* .card__images::after {
    content: "";
    background: url(../images/illustration-box-desktop.svg);
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    left: -11rem;
    top: 18rem;
  } */

  .card__images > * {
    position: absolute;
    right: 8rem;
  }

  .img-actual--desktop {
    top: 10%;
  }

  .img-shadow--desktop {
    bottom: -40%;
  }

  .img-box--desktop {
    top: 17rem;
    left: -10rem;
  }

  .img-actual--mobile,
  .img-shadow--mobile {
    max-height: 0;
  }

  .img-actual--desktop,
  .img-shadow--desktop,
  .img-box--desktop {
    max-height: 100vh;
  }

  .card__content {
    padding: 5rem 8rem 8rem 0;
  }

  .card__title {
    margin: 0 0 2rem;
    text-align: left;
  }
}
